<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Skyes Crawford</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/contents">Home</a></li>
            <li><a href="/contents/new">New Post</a></li>
            <% if(!currentUser){ %>
            <li><a href="/register">Sign Up</a></li>
            <li><a href="/login">Login</a></li>
            <% } else { %>
            <li><a href="/logout">Logout</a></li>
            <% } %>
        </ul>
    </nav>
